.launch {
    width: 100%;
    @extend .display-flex;
    &__wrapper {
        @extend .display-flex-center-wrap;
        @extend .justify-content-center;
        padding-top: 25px;
        background-image: url('../images/bg-small.png');
    }
}
.footer {
    @extend .display-flex-center-wrap;
    @extend .justify-content-center;
    &__wrapper {
        width: 60%;
    }
    &__contact, &__title {
        margin: 100px 0;
    }
    &__title, &__subtitle {
        @extend .font-sc__boldregular;
        @extend .font-w400;
    }
}
.industry__slide .swiper-container .swiper-pagination span { padding: 5px 0 }
.industry {
    // padding: 100px 0 160px 0;
    padding: 60px 0 80px 0;
    @media screen and (max-width: 1024px){
        padding: 50px 0 80px 0;
    }
    &__title {
        @extend .primary-color;
        @extend .font-size-64;
        @extend .font-w400;
        margin-bottom: 100px;
    }
    &__slide {
        height: 100%;
        .slide-img, figure, img {
            // @extend .full-box;
        }
        .swiper-container {
            @extend .display-flex-wrap;
            .swiper-wrapper {
                flex: 0 0 60%;
                max-width: 60%;
                transition-duration: 1000ms !important;
            }
            .swiper-slide {
                @extend .display-flex;
                @extend .justify-content-end;
                @extend .bg-blue;
                @extend .font-size-26;
            }
            // .swiper-slide-active {
            //     .slide-img, figure, img {
            //         width: 100%;
            //         height: 100%;
            //     }
            // }
            .swiper-pagination-bullets{
                bottom: 0;
                @media (min-width:426px) {
                    position: absolute;
                }    
            }
            .swiper-pagination {
                flex: 0 0 40%;
                max-width: 40%;
                order: -1;
                height: 100%;
                @extend .bg-blue;
                @extend .text-left;
                padding: 0 100px;
                @extend .position-rel;
                span {
                    width: 100%;
                    list-style: none;
                    background: none;
                    opacity: .8;
                    background: none;
                    border-radius: 0;
                    @extend .secondary-color;
                    @extend .font-size-36;
                    @extend .font-mont__regular;
                    @extend .font-w400;
                    @extend .display-block;
                    height: auto;
                    transition: .5s;
                    &:hover {
                        @extend .primary-color;
                    }
                }
                .swiper-pagination-bullet-active {
                    @extend .primary-color;
                }
                span:nth-child(1) {
                    @extend .primary-color;
                    @extend .font-size-64;
                    @extend .font-sc__boldregular;
                    @extend .font-w400;
                }
            }
        }
        .slide-img {
            width: 60%;
            flex: 0 0 60%;
        }
    }
}
@media (max-width: 1440px) {
    .font-size-64, .industry__title, .industry__slide .swiper-container .swiper-pagination span:nth-child(1) {
        font-size: 51px;
    }
    .industry__slide .swiper-container .swiper-pagination span {
        font-size: 31px;
    }
}
@media (max-width: 1280px) {
    .industry {
        overflow: hidden;
    }
    .footer__wrapper {
        width: 45%;
    }  
    .industry__title, .industry__slide .swiper-container .swiper-pagination span:nth-child(1) {
        font-size: 38px;
    }
    .industry__slide .swiper-container .swiper-pagination span {
        font-size: 24px;
    }
}
@media (max-width: 1024px) {
    .industry {
        .swiper-pagination {
            padding: 0 40px !important;
        }
        .swiper-container img {
            height: auto !important;
        }
    }
    .footer__contact, .footer__title {
        margin: 50px 0
    }
}
@media (max-width: 768px) {
    .industry {
        height: auto !important;
        padding: 10px 0 50px 0;
    }
    .industry__title, .industry__slide .swiper-container .swiper-pagination span:nth-child(1) {
        font-size: 27px;
    }
    .industry__slide .swiper-container .swiper-pagination span {
        font-size: 18px;
        padding: 0;
    }
    .footer__subtitle, .footer__title {
        font-size: 16px;
    }
    .footer__contact {
        font-size: 14px;
    }
    .footer__contact, .footer__title {
        margin: 30px 0;
    }
    .footer__title {
        margin-top: 50px;
    }
}
@media (max-width: 675px) {
    .industry {
        padding-top: 0px;
    }
    // .launch {
    //     max-height: 100px;
    // }
    .industry__slide .swiper-container .swiper-pagination span {
        font-size: 16px;
    }
    .industry__slide .swiper-container .swiper-pagination,
    .industry__slide .swiper-container .swiper-wrapper {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .industry__title, .industry__slide .swiper-container .swiper-pagination span:nth-child(1) {
        font-size: 31px !important;
        margin-top: 10px;
    }
    .industry .swiper-pagination {
        padding: 0px 10px !important;
        position: relative;
        margin-bottom: 25px;
    }
    .industry__slide .swiper-container {
        overflow: hidden;
    }
    .footer__wrapper {
        padding: 10px;
        width: 100%;
    }
    .footer__contact, .footer__title {
        margin: 30px 0;
    }
    .industry__slide .slide-img {
        width: 100%;
        flex: 0 0 100%;
    }
}