.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.header .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 8px;
    left: 0;
    width: 100%;
}
.header .swiper-pagination-bullet {
    border: none;
    background: rgba(252, 249, 247, 0.9);
}
.header .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 20px 20px;
    @media screen and (max-width:768px){
        margin: 0 10px 10px;
    }
}

.header .swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
}
.header .swiper-pagination-bullet {
    height: 2px;
    width: 40px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}
.header .swiper-pagination-bullet {
    // background: #C3996B;
}

.header .swiper-pagination-bullet-active {
    opacity: 1;
    background: #C3996B;
    // background: var(--swiper-pagination-color,var(--swiper-theme-color));
}
@media screen and (max-width: 575px){
  .header .swiper-pagination-bullet {
      width: 25px;
  }
}